<template id="tab-content-panel">
<div id="tab-panel-default" class="tabPanel tab-default" tabindex=" " role="tabpanel" aria-hidden="true"  hidden>
  <div class="tabPanelContent">
    <div class="sampleText">Content for the default tab panel.</div>
  </div>
</div>
</template>



<!--template id="sh-tab-content-panel" class="shadow">
  <!--style>
    .tabPanel {
      background: #1E88E5;
      height: 40vh;
    }
  </style-->
<!--div id="tab-panel-default" class="tabPanel tab-default" tabindex=" " role="tabpanel" aria-hidden="true"  >
  <div class="tabPanelContent sampleText">Content for the default tab panel.</div>
</div>
<template-->
