// collapsingTileTabPanel.scss
@import "node_modules/carbon-components/scss/globals/scss/colors";
@import "node_modules/carbon-components/scss/globals/scss/theme";
@import 'node_modules/@carbon/type/scss/type';

$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

@import 'node_modules/carbon-components/scss/components/tile/tile';
@import 'node_modules/carbon-components/scss/components/tag/tag';

.collapsingTileTabPanel.tabPanel {
    overflow: hidden;

  .previewPaneCol {
    visibility: collapse;
    position: relative;
    height: 100%;
    flex-basis: 0;
    display: flex;
    overflow-x: hidden;
    justify-content: flex-start;
    transform: translateX(-480px);

  .previewPane {
    background-color: $interactive-04;
    width: calc(100% - 1rem);
    height: 100%;
    top: 0;
    transform: scaleY(.2);
  }

  }

  .topGrid {
    display: flex;
    flex-grow: 0;
    position: sticky;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 480px;
    padding: 0rem;
    padding-top: .5rem;
    overflow: hidden;


  }

  .bx--grid {
    width: 100%;
    padding: 0rem;

  }

  .bx--col {
    padding: 0;
  }
  .collapsingTilesCol {
    overflow: scroll;
    overflow-x: hidden;

  }

  .bx--row.tileRow {
    margin: 0;
    margin-bottom: 1rem;
    flex-shrink: 1;
    padding-right: 1rem
  }

  .bx--tile--clickable {
    height: 120px;
    width: 100%;
    overflow: hidden;


  }

  .bx--tile-content__above-the-fold {
    //background-color: $decorative-01;
    height: 120px;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .toggler {
      position: absolute;
      right: .5rem;
      bottom: .5rem;
      background-color: $interactive-01;
    }

    .banner {
      @include carbon--type-style("display-02")
      color: $support-04;
      //font-weight: 600;
      position: absolute;
      right: .5rem;
      top: 0rem;
    }

    h2 {
      font-weight: 600;
      color: $support-04;
    }

    p {
      @include carbon--type-style("body-short-02");
      max-width: 34rem;
    }
  }

  .bx--tile-content__above-the-fold:hover {
    background-color: $decorative-01;

  }

}
