// rowMainTopTiles.scss
@import "node_modules/carbon-components/scss/globals/scss/colors";
@import "node_modules/carbon-components/scss/globals/scss/theme";
@import 'node_modules/@carbon/type/scss/type';

$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

.bx--row.topTilesRow {
  max-height: 15rem;

  .tlhTile {
    position: absolute;
    width: 60%;
    height: 10%;
    padding: 1rem;
    background-color: $interactive-01;
    cursor: pointer;
    opacity: 0;
    //z-index: 2;

    .label {
      @include carbon--type-style("expressive-heading-05", true);
      position: absolute;
      max-width: 70%;
      bottom: 1rem;
      left: 1rem;
      color: $text-01;
      //font-size: 3.5vw;
      opacity: 0;
      }
    .iconContainer {
      max-width: 2rem;
      max-height: 2rem;
      width: 2rem;
      height: 2rem;
      position: absolute;
      bottom: 1.5rem;
      right: 1rem;
      opacity: 0;
      //z-index: 2;

      svg {
        fill: $text-01;
        bottom: 0;
        }
      }
    }

  .tlhTile:hover {
    background-color: $hover-primary;
    }

  .tlhTile.active {
    background-color: $highlight;
    transition-duration: .4;
    }
}
