// rowMainContent.scss
@import "node_modules/carbon-components/scss/globals/scss/colors";
@import "node_modules/carbon-components/scss/globals/scss/theme";
@import 'node_modules/@carbon/type/scss/type';

$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

// Import tabs style after theme imported & set
@import "../../node_modules/carbon-components/scss/components/tabs/tabs";

.bx--row.mainContentRow {
  height: 1vh; // initial
  max-height: 80vh;
  margin-top: 1rem;
  transform: scaleX(.01); // initial
  //background-color: $ui-01;
  //opacity: 0;
  padding: 0 1rem;
}

.bx--col.contentWindow {
  background-color: $ui-01;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: .75rem;
  opacity: 0;
  height: 5rem;
  transform: scaleX(.01);
  visibility: collapse;
  //background-color: $text-error;

  .bx--tab-content {
    padding: 0;
    position: relative;
    flex-grow: 1;
  }

  .bx--tabs__nav-item {
    background-color: $ui-01;

  }

  .bx--tabs__nav-item:hover {
    background-color: $ui-04;
  }

  .bx--tabs__nav-item--selected, .bx--tabs__nav-item--selected:hover {
    background-color: $ui-02;

    .bx--tabs__nav-link, .bx--tabs__nav-link:focus, .bx--tabs__nav-link:active {
      outline: 0;
      outline-offset: 0;
      box-shadow: inset 0 2px 0 0 $highlight;
    }

  }

  .bx--tabs, .bx--tabs__nav-link, .bx--tabs__nav-item:hover  {
    border-bottom: solid 2px $ui-04;
  }

  .bx--tabs__nav-link, .bx--tabs__nav-link:focus {
    font-size: 1rem;

  }




  .tabPanel {
    background-color: $ui-02;
    padding: 1rem;
    width: 100%;
    height: 100%;


    .sampleText {
      color: $text-01;
    }
  }
}
