// stickyButton.scss
@import "node_modules/carbon-components/scss/globals/scss/colors";
@import "node_modules/carbon-components/scss/globals/scss/theme";
@import "node_modules/carbon-components/scss/components/button/button";
@import "node_modules/carbon-components/scss/components/tooltip/tooltip";

$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

.stickyButton {
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 1rem;
  left: 2rem;


  Button {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    background-color: $interactive-01;
    display: flex;
    justify-content: center;
    align-content: center;

  }

  .bx--tooltip__trigger {
    transition-delay: 1;
  }

  .svgWrapper {
    //display: flex;
  }

  svg {
    fill: $text-02;
    }

  }
